<style>
    #containerStyle{
        margin-top: 108px;
    }
    .divMargin{
        margin-left: 25%;
    }
    .inputWidth{
        width: 300px;
    }
    form{
        margin-left: -30px;
    }
    .loginSyle{
        border: solid;
        border-color: gray ;
        max-width: 600px;
        min-width: 350px;
        border-width: thin;
    }


    @media (min-width: 700px) and (max-width: 767px) {
        #containerStyle {
            width: 80%;
            margin-left: 10%;
            margin-top: 108px;
        }
        form {
            margin-left: 22%;
        }
        .inputWidth{
            width: 300px;
        }
        .loginSyle{
            border: solid;
            border-color: gray ;
            max-width: 600px;
            min-width: 350px;
            border-width: thin;
        }
        .divMargin{
            margin-left: 25%;
        }
    }

    @media (min-width: 600px) and (max-width: 699px) {
        .divMargin{
            margin-left: 20%;
        }
        #containerStyle {
            width: 80%;
            margin-left: 10%;
            margin-top: 108px;
        }
        form {
            margin-left: 22%;
        }
        .inputWidth{
            width: 300px;
        }
        .loginSyle{
            border: solid;
            border-color: gray ;
            max-width: 600px;
            min-width: 350px;
            border-width: thin;
        }
    }


    @media(max-width: 599px) {
        .divMargin{
            margin-left: 5%;
        }
        #containerStyle {
            width: 80%;
            margin-left: 11%;
            margin-top: 108px;

        }
        form {
            margin-left: 4%;
        }
        .inputWidth{
            width: 230px;
        }
        .loginSyle{
            border: solid;
            border-color: gray ;
            max-width: 335px;
            min-width: 278px;
            border-width: thin;
        }

    }
    
</style>


<div class="container loginSyle" id="containerStyle" >
    <div class="row divMargin">
        <h3>Reset Password</h3>
    </div>
    <br>
    <div *ngIf="ShowMainDiv" class="divMargin">
        <div class="form-group">
            <label>User : {{resetUser.Name}} </label>
        </div>
        <div class="form-group">
            <label>Login ID : {{resetUser.LoginId}} </label>
        </div>
        <div class="form-group">
            <label>Enter Password</label>
            <input type="tel" class="form-control inputWidth"  placeholder="Password" [(ngModel)]="resetPasswordReq.UserPassword">
        </div>
        <div>
            <div class="checkbox">
                <label>
                     <input type="checkbox" [(ngModel)]="resetPasswordReq.SendMail" > Send Password to Email
                </label>
            </div>
            <div class="form-group"  *ngIf="resetPasswordReq.SendMail">
                <label>Mail To</label>
                <input type="email" class="form-control inputWidth"  placeholder="Email" [(ngModel)]="resetPasswordReq.MailsTo">
            </div>
            <button type="submit" class="btn btn-primary" (click)="Submit()">Submit</button>
            <br><br>
        </div>
    </div>
    <div class="row" *ngIf="successMessage">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div class="alert alert-success">{{successMessage}}</div>
        </div>
    </div>
</div>


<!--<div class="container" >-->
    <!--<div class="row col-sm-4 col-sm-offset-4">-->
        <!--<h3 style="margin-top: -10px;">Reset Password</h3>-->
        <!--<div *ngIf="ShowMainDiv">-->
            <!--<div class="form-group">-->
                <!--<label>User : {{resetUser.Name}} </label>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>Login ID : {{resetUser.LoginId}} </label>-->
            <!--</div>-->
            <!--<div>-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!-- <input type="checkbox" [(ngModel)]="resetPasswordReq.SendMail" > Send Password to Email-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div class="form-group"  *ngIf="resetPasswordReq.SendMail">-->
                    <!--<label>Mail To</label>-->
                    <!--<input type="email" class="form-control"  placeholder="Email" [(ngModel)]="resetPasswordReq.MailsTo">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-primary" (click)="Submit()">Submit</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row" *ngIf="successMessage">-->
            <!--<div class="col-sm-8 col-sm-offset-2 text-center">-->
                <!--<div class="alert alert-success">{{successMessage}}</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->