<m-login></m-login>

<!--<h1>Roles Detail Component</h1>-->

<!--<Button (click)="getRoles()">Get Roles</Button>-->

<!--<ul>-->
    <!--<li *ngFor="let r of roles" >-->
        <!--<Button (click)="modifyRole(r)">{{r|json}}</Button>-->
    <!--</li>-->
<!--</ul>-->

<!--<br>-->
    <!--<label >Role name</label>-->
    <!--<input [(ngModel)]="role.RoleName" />-->

    <!--<label >Role description</label>-->
    <!--<input [(ngModel)]="role.RoleDescription" />-->

    <!--<label >Forms</label>-->
    <!--<input [(ngModel)]="role.Forms" />-->

<!--<Button (click)="createRole()">Create Role</Button>-->
<!--<Button (click)="updateRole()">Update Role</Button>-->
<!--<Button (click)="deleteRole()">Delete Role</Button>-->




<userlist></userlist>
